#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}



.MainCont{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 2em);
  width: calc(100vw - 2em);
  gap: .5em;
  margin: 1em;
}

.FirstColumn{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: .5em;
  width: 100%;
}

.SecondColumn{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: .5em;
  width: 100%;
}

.FrameDataCont{
  display: flex;
  flex-direction: row;
  height: 45%;
}

.InstructControlsCont{
  display: flex;
  flex-direction: row;  gap: 1em;
  height: 45%;
}

#IMUInfo{
  height: 65%;
}

#CurrentInstructions{
}

#Controls{
}

#DataStream{
  width: 60%;
  height: 100%;
}

#VideoStream{
  height: 50%;
}

#FrameDiagnostic{
  width: 40%;
}