$font-stack: sans-serif;
$bgColor: #1A1A1A;
$primaryColor: #202224;
$secondaryColor: #161A1D;
$tertiaryColor: #006466;
$textColor: #F4F3EE;
$titleText: clamp(0.75em, 1.5vw, 2rem);
$secText: clamp(0.5em, 1vw, 1.5rem);
$shadow: 3px 3px 10px 0px rgba(0,0,0, 0.65); 
$highlight: -3px -3px 10px 0px hsla(233, 21%, 76%, 0.174);