@import "../../Utils/Variables";

.VideoStreamCont{
    background-color: $primaryColor;
    width: 100%;
    height: 100%;
    border-radius: .5em;
<<<<<<< HEAD
=======
    object-fit: cover;
}

.phImage{
    width: 100%;
    height: 100%;
    border-radius: .5em;
    object-fit: cover;
>>>>>>> Front-end
}