@use "../../../Utils/Variables.scss" as *;
.CardCont{
    background-color: $primaryColor;
    // border-radius: 1em;
    // box-shadow: $shadow, $highlight;
    width: 100%;
}

.Title{
    color: $textColor;
    font-size: $titleText;
    font-weight: bold;
    text-shadow: 0px 0px 10px 0px $tertiaryColor;
    text-align: left;
    padding: 0.5em 0 0.25em 0.5em;
}

.Underline{
    border-bottom: 2px solid $tertiaryColor;
    width: 0%;
}

.MainCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    gap: 1em;
}

.SpeedCard{
    height: 40%;
    width: 80%;
    background-color: $secondaryColor;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $tertiaryGlowColor;
}

.SteeringCard{
    height: 40%;
    width: 80%;
    background-color: $secondaryColor;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $tertiaryGlowColor;

}
.Slider{
    width: 65%;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 50%;
    background: $tertiaryColor;
    border-radius: 1em;
}
input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    position: relative; 
    background-color: red;
    top: -50%; /* Align the thumb vertically */

}

